 @charset "utf-8";
 
 /*
	Jason Cobb 
	Portfolio
	Filename: fp_reset.css
*/

/* Basic styles to be used with all devices and under all conditions */

#backgrad {
	height: 100%;
	width: 100%;
	background-image: radial-gradient(circle at center, rgba(25,35,150,0.7), rgba(180,65,20,0.7));
}

h1 {
	text-align: center;
	text-indent: 50px;
	color: rgb(206, 10, 10);
	background-color: rgb(0, 0, 255);
}

/* Footer Styles */

footer {
   margin-top: 15px;
   background-color: rgb(200, 100, 50);
   color: rgb(231, 231, 231);
   text-align: center;
}
	


	