@charset "utf-8";


@font-face {
   font-family: Speeder;
   src: url(maxi_l_s.woff) format('woff'), 
        url(maxi_l_s.ttf) format('truetype');
}

/* HTML and Body styles */

html {
   font-family: Verdana, Geneva, sans-serif;
   background-color: rgb(51, 153, 255);
}

h1 {
	color: red;
	background: linear-gradient(to bottom, rgb(0, 0, 200), black);
}

p {
	text-shadow: 2px 2px #006699;
}

body {
   background-color: rgb(0, 241, 255);
   box-shadow: rgb(51, 51, 51) 10px 0px 40px, rgb(51, 51, 51) -10px 0px 40px;
   border-left: 1px solid rgb(3, 51, 86);
   border-right: 1px solid rgb(3, 51, 86);
   min-height: 100%;   
   margin: 0px auto;
   min-width: 1040px;
   max-width: 1020px;   
   width: 100%;
}

header {
   background: linear-gradient(to right, rgb(166, 222, 254) 20%, rgb(3, 51, 86));
   border-bottom: 1px solid rgb(3, 51, 86);
}

footer {
	color: red;
	background: linear-gradient(to bottom, rgb(0, 0, 200), black);
	font-size: 0.9em;
	font-style: normal;
}